{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('habitats') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('habitats') }}
{% endblock %}

{% block title %}Zoo Arcadia | Nos habitats et animaux{% endblock %}

{% block body %}

<header style="background-image:url('{{ asset('build/images/habitats-header.jpg') }}')">
    <p>Nos habitats et animaux</p>
</header>

<section class="habitats">
    <h2>Venez découvrir les habitats de notre zoo et faites connaissance avec nos différents animaux !</h2>
    <div class="habitats-cards">
        <a href="{{ path('habitats.show', {slug: 'jungle'}) }}">
            <div id="jungle-card" style="background-image:url('{{ asset('build/images/jungle.jpg') }}')">
                <p>La Jungle</p>
            </div>
        </a>
        <a href="{{ path('habitats.show', {slug: 'savane'}) }}">
            <div id="savane-card" style="background-image:url('{{ asset('build/images/savane-2.jpg') }}')">
                <p>La Savane</p>
            </div>
        </a>
        <a href="{{ path('habitats.show', {slug: 'marais'}) }}">
            <div id="marais-card" style="background-image:url('{{ asset('build/images/marais.jpg') }}')">
                <p>Les Marais</p>
            </div>
        </a>
    </div>
</section>

{% endblock %}